.popup {
    display: none; /* Nascondi il popup di default */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo trasparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assicura che il popup sia sopra gli altri elementi */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px; /* Larghezza del popup */
}

.popup-content p {
    font-family: Arial, sans-serif;
    color: #222222;
}

.close {
    cursor: pointer;
    font-size: 20px;
    float: right;
}
